<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />

</head>
<body>

    <header>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <img src="/static/images/site_icon.png" alt="site_icon" width="20" height="20">
            <strong>417 development</strong>
          </a>
        </div>
      </div>
    </header>
    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Библиотека</h1>
          <p class="lead text-muted"></p>
          <p>
            <a href="/reviews" class="btn btn-primary my-2">Перейти на страницу отзывов о книгах</a>
            <a href="/upload" class="btn btn-secondary my-2">Загрузить свою книгу</a>
          </p>
        </div>
        <section>
          <div class="album py-5 bg-light">
            <div class="container">
              <div class="row">
                {% if books %}
                  {% for book in books %}
                <div class="col-md-4"> 
                  <div class="card mb-4 box-shadow">
                    <div class="card-body">
                      <p class="card-text">{{ book.author }}: {{ book.title }}</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <a href="/view_cover?cover_path={{ book.cover_path }}">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Посмотреть обложку</button>
                          </a>
                        </div>
                        <small class="text-muted"></small>
                      </div>
                    </div>
                  </div>
                </div>
                  {% endfor %}
                {% endif %}
              </div>
            </div>
          </div>
        </section>
           

    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Вернуться наверх</a>
        </p>
      </div>
    </footer>

    